.header{height: 300px;
/* background-image: url('cccc.jpg');
background-repeat: no-repeat;
background-repeat: repeat-x;
background-repeat: repeat-y;
background-size: cover;
background-size: contain;
background-size: 500px; */
background-image: url('../image/pexels-pixabay-34763.jpg');
background-size: 500px;

}


h3{
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.secend{
    display: nane;
    visibility: hidden;
}
.dal{border: 2px solid red;
    display: inline-block;
height: 30px;
}
.blog{
    margin: 10px;
    border: 10px solid deepskyblue;
    box-shadow: 10px 10px 10px 10px royalblue;
}
.sum{border: 2px solid royalblue;display: inline-block;}
li{display: inline;}